<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Client</title>
    <link rel="stylesheet" href="/Css/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<div class="container">

    <div class="user-profile">
        <h2>Welcome, <span th:text="${username}" class="text-primary"></span>!</h2>
        <p>OwnerId: <span th:text="${ownerId}" id="ownerId" class="text-info"></span></p>
        <p>UserId: <span th:text="${userId}" id="userId" class="text-info"></span></p>
    </div>

</div>

    <div class="container">
    <div class="text-center">
        <div class="text-center">
            <h1 class="display-4">SECOM Input form</h1>
            <form id="encryptionForm">
                <input type="text" id="senderid" placeholder="Sender ID" class="form-control" required>
                <input type="text" id="secretkey" placeholder="Secret Key" class="form-control" required>
                <input type="text" id="peerid" placeholder="Peer ID" class="form-control" required>
                <textarea id="encryptedMessage" class="form-control textarea-large" placeholder="Encrypted Message" required></textarea>
                <button type="submit" class="btn btn-primary">Encrypt and Send</button>
            </form>
        </div>
<!--        <h1 class="display-4">WebSocket Client</h1>-->
<!--        <h1 class="welcome">Welcome, <span th:text="${username}" class="text-primary"></span>!</h1>-->
<!--        <h1>This is your OwnerId <span th:text="${ownerId}" id="ownerId" class="text-info"></span></h1>-->
<!--        <h1>This is your UserId <span th:text="${userId}" id="userId" class="text-info"></span></h1>-->
        <div id="messages" class="message-box"></div>
<!--        <div id="private-messages" class="message-box"></div>-->
        <div id="Encrypted-messages" class="message-box"></div>


    </div>


</div>

<script src="/js/main.js"></script>
</body>
</html>